/*Removing default padding and margin*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*"Horiseon"*/
h1 {
    display: inline-block;
    font-size: 48px;
}

/*"SEO" in "Horiseon"*/
#seo {
    color: #d9dcd6;
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*Navbar elements*/
ul {
    list-style-type: none;
}

li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

/*Navbar options hover animation*/
#navSelect:hover {
    color: black;
    transition: all 0.2s linear;
}

p {
    font-size: 16px;
}

#background-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    height: 800px;
    width: 100%;
    object-fit: cover;
}

/*Wide blocks section*/
section {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.wide-block {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*Images in wide blocks*/
.wide-block img {
    max-height: 200px;
    border-radius: 5px;
}

/*Float image left*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*Float image right*/
.float-right {
    float: right;
    margin-left: 25px;
}

.wide-block h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Sidebar*/
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefits-box {
    margin-bottom: 32px;
    color: #ffffff;
}

/*Images in benefits box*/
.benefits-box img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
    transition: all 0.3s linear;
}

/*Image hover animation*/
.benefits-box img:hover {
    transform: scale(1.2);
}

h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*Bottom of page*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*Made with love*/
h2 {
    font-size: 20px;
}